@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid ;
    font-size: 100%;
}
body {
    background-image: url(../images/w-qjCHPZbeXCQ-unsplash.jpg);
    font-family: aladin;
    font-style: normal;
    font-weight: 400;
}
    .titel {
    color: black;
    font-style: normal;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: xx-large;
    top: 0px;
    right: 0px;
              }
#writter {
    font-size: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    color: white
}

.my-container {
    background-color: #FFA5B3;
    margin: 15;
    padding: 12;
    text-align: center;
    border: 5px solid #C25757
}
.main-text {
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    width: px;
    border: 5px;
    margin-right: 100px;
    margin-left: 100px;
    color: #FFFFFF;
    margin-bottom: 46px;
}
