@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top: 2px solid ;
    font-size: 100%;
}
body {
    background-image: url(../images/photo-1569982175971-d92b01cf8694.jpg);
    font-family: aladin;
    font-style: normal;
    font-weight: 400;
}
    .titel {
    color: blanchedalmond;
    font-style: normal;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: xx-large;
    top: 0px;
    right: 0px;
              }
.titel {
}
#writter {
    font-size: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    color: white
}

.my-container {
    background-color: #1D0BB9;
    margin-top: 10px;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 22px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 20px;
    font-style: normal;
    color: aliceblue;
    border-style: solid;
}
.main-text {
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    width: 320px;
    border: 5px;
    margin-right: 100px;
    margin-left: 100px;
    color: #FFFFFF;
    margin-bottom: 46px;
}
